[submodule "tests/lib"]
	path = tests/lib
	url = https://github.com/google/googletest
[submodule "3rdparty/flac"]
	path = 3rdparty/flac
	url = https://github.com/claunia/flac
[submodule "3rdparty/uthash"]
	path = 3rdparty/uthash
	url = https://github.com/troydhanson/uthash
[submodule "3rdparty/slog"]
	path = 3rdparty/slog
	url = https://github.com/kala13x/slog
[submodule "3rdparty/xxHash"]
	path = 3rdparty/xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "3rdparty/BLAKE3"]
	path = 3rdparty/BLAKE3
	url = https://github.com/BLAKE3-team/BLAKE3
[submodule "3rdparty/zstd"]
	path = 3rdparty/zstd
	url = https://github.com/facebook/zstd.git
